<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>cashvalue</key>
			<string>105000</string>
			<key>hs300</key>
			<string>3230.8904</string>
			<key>hs300Rate</key>
			<string>1</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>105000</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>0</string>
			<key>stockValue</key>
			<string>0</string>
			<key>tradingDate</key>
			<string>1474992000000</string>
			<key>unitValue</key>
			<string>1</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>105000</string>
			<key>hs300</key>
			<string>3244.3874</string>
			<key>hs300Rate</key>
			<string>1.0042</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104994.75</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>0</string>
			<key>stockValue</key>
			<string>0</string>
			<key>tradingDate</key>
			<string>1475078400000</string>
			<key>unitValue</key>
			<string>0.9999</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>99694.89</string>
			<key>hs300</key>
			<string>3253.2848</string>
			<key>hs300Rate</key>
			<string>1.0069</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104994.39</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>5.06</string>
			<key>stockValue</key>
			<string>5310</string>
			<key>tradingDate</key>
			<string>1475164800000</string>
			<key>unitValue</key>
			<string>0.9999</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>94359.78</string>
			<key>hs300</key>
			<string>3293.8689</string>
			<key>hs300Rate</key>
			<string>1.0195</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104976.78</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>10.17</string>
			<key>stockValue</key>
			<string>10680</string>
			<key>tradingDate</key>
			<string>1476028800000</string>
			<key>unitValue</key>
			<string>0.9997</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>67834.7</string>
			<key>hs300</key>
			<string>3306.5573</string>
			<key>hs300Rate</key>
			<string>1.0234</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>105626.45</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>35.82</string>
			<key>stockValue</key>
			<string>37860</string>
			<key>tradingDate</key>
			<string>1476115200000</string>
			<key>unitValue</key>
			<string>1.0059</string>
			<key>yieldRate</key>
			<string>0.01</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>41687.73</string>
			<key>hs300</key>
			<string>3300.0099</string>
			<key>hs300Rate</key>
			<string>1.0214</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>105042.23</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>60.34</string>
			<key>stockValue</key>
			<string>63428</string>
			<key>tradingDate</key>
			<string>1476201600000</string>
			<key>unitValue</key>
			<string>1.0004</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>44055.22</string>
			<key>hs300</key>
			<string>3302.6455</string>
			<key>hs300Rate</key>
			<string>1.0222</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104496.47</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>57.87</string>
			<key>stockValue</key>
			<string>60520</string>
			<key>tradingDate</key>
			<string>1476288000000</string>
			<key>unitValue</key>
			<string>0.9952</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>48870.57</string>
			<key>hs300</key>
			<string>3305.8481</string>
			<key>hs300Rate</key>
			<string>1.0232</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>105126.57</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>53.55</string>
			<key>stockValue</key>
			<string>56340</string>
			<key>tradingDate</key>
			<string>1476374400000</string>
			<key>unitValue</key>
			<string>1.0012</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>70207.05</string>
			<key>hs300</key>
			<string>3277.88</string>
			<key>hs300Rate</key>
			<string>1.0145</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104522.05</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>32.9</string>
			<key>stockValue</key>
			<string>34420</string>
			<key>tradingDate</key>
			<string>1476633600000</string>
			<key>unitValue</key>
			<string>0.9954</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>69211.64999999999</string>
			<key>hs300</key>
			<string>3321.3324</string>
			<key>hs300Rate</key>
			<string>1.028</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104723.65</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>33.98</string>
			<key>stockValue</key>
			<string>35617</string>
			<key>tradingDate</key>
			<string>1476720000000</string>
			<key>unitValue</key>
			<string>0.9973</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>68499.41</string>
			<key>hs300</key>
			<string>3316.2407</string>
			<key>hs300Rate</key>
			<string>1.0264</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104360.16</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>34.43</string>
			<key>stockValue</key>
			<string>35971</string>
			<key>tradingDate</key>
			<string>1476806400000</string>
			<key>unitValue</key>
			<string>0.9939</string>
			<key>yieldRate</key>
			<string>-0.01</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>67895.39999999999</string>
			<key>hs300</key>
			<string>3318.6044</string>
			<key>hs300Rate</key>
			<string>1.0271</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104157.9</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>34.89</string>
			<key>stockValue</key>
			<string>36378</string>
			<key>tradingDate</key>
			<string>1476892800000</string>
			<key>unitValue</key>
			<string>0.9919</string>
			<key>yieldRate</key>
			<string>-0.01</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>62210.89</string>
			<key>hs300</key>
			<string>3327.74</string>
			<key>hs300Rate</key>
			<string>1.03</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>103536.14</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>39.98</string>
			<key>stockValue</key>
			<string>41446</string>
			<key>tradingDate</key>
			<string>1476979200000</string>
			<key>unitValue</key>
			<string>0.986</string>
			<key>yieldRate</key>
			<string>-0.01</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>5340.45</string>
			<key>hs300</key>
			<string>3367.5778</string>
			<key>hs300Rate</key>
			<string>1.0423</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>106885.95</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>95.01000000000001</string>
			<key>stockValue</key>
			<string>101682</string>
			<key>tradingDate</key>
			<string>1477238400000</string>
			<key>unitValue</key>
			<string>1.0179</string>
			<key>yieldRate</key>
			<string>0.02</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>755.96</string>
			<key>hs300</key>
			<string>3367.4547</string>
			<key>hs300Rate</key>
			<string>1.0423</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>105129.21</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>99.28</string>
			<key>stockValue</key>
			<string>104515</string>
			<key>tradingDate</key>
			<string>1477324800000</string>
			<key>unitValue</key>
			<string>1.0012</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>35700.85</string>
			<key>hs300</key>
			<string>3354.8003</string>
			<key>hs300Rate</key>
			<string>1.0384</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>103832.85</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>65.67</string>
			<key>stockValue</key>
			<string>68279</string>
			<key>tradingDate</key>
			<string>1477411200000</string>
			<key>unitValue</key>
			<string>0.9888</string>
			<key>yieldRate</key>
			<string>-0.01</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>1975.45</string>
			<key>hs300</key>
			<string>3345.695</string>
			<key>hs300Rate</key>
			<string>1.0355</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104778.2</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>98.12</string>
			<key>stockValue</key>
			<string>102955</string>
			<key>tradingDate</key>
			<string>1477497600000</string>
			<key>unitValue</key>
			<string>0.9978</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>74027.17</string>
			<key>hs300</key>
			<string>3340.1262</string>
			<key>hs300Rate</key>
			<string>1.0338</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>102277.67</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>27.73</string>
			<key>stockValue</key>
			<string>28408</string>
			<key>tradingDate</key>
			<string>1477584000000</string>
			<key>unitValue</key>
			<string>0.974</string>
			<key>yieldRate</key>
			<string>-0.03</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>71854.13</string>
			<key>hs300</key>
			<string>3336.2778</string>
			<key>hs300Rate</key>
			<string>1.0326</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>101861.88</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>29.58</string>
			<key>stockValue</key>
			<string>30181</string>
			<key>tradingDate</key>
			<string>1477843200000</string>
			<key>unitValue</key>
			<string>0.9701</string>
			<key>yieldRate</key>
			<string>-0.03</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>1687.45</string>
			<key>hs300</key>
			<string>3359.0515</string>
			<key>hs300Rate</key>
			<string>1.0397</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>105101.95</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>98.40000000000001</string>
			<key>stockValue</key>
			<string>103593</string>
			<key>tradingDate</key>
			<string>1477929600000</string>
			<key>unitValue</key>
			<string>1.0009</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>68024.16</string>
			<key>hs300</key>
			<string>3333.3524</string>
			<key>hs300Rate</key>
			<string>1.0317</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>106154.41</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>36.03</string>
			<key>stockValue</key>
			<string>38314</string>
			<key>tradingDate</key>
			<string>1478016000000</string>
			<key>unitValue</key>
			<string>1.0109</string>
			<key>yieldRate</key>
			<string>0.01</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>37656.97</string>
			<key>hs300</key>
			<string>3365.085</string>
			<key>hs300Rate</key>
			<string>1.0415</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>106827.97</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>64.81</string>
			<key>stockValue</key>
			<string>69360</string>
			<key>tradingDate</key>
			<string>1478102400000</string>
			<key>unitValue</key>
			<string>1.0174</string>
			<key>yieldRate</key>
			<string>0.02</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>61249.34</string>
			<key>hs300</key>
			<string>3354.1749</string>
			<key>hs300Rate</key>
			<string>1.0382</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>108083.09</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>43.43</string>
			<key>stockValue</key>
			<string>47028</string>
			<key>tradingDate</key>
			<string>1478188800000</string>
			<key>unitValue</key>
			<string>1.0293</string>
			<key>yieldRate</key>
			<string>0.03</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>89034.14999999999</string>
			<key>hs300</key>
			<string>3356.5916</string>
			<key>hs300Rate</key>
			<string>1.0389</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>106818.15</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>16.81</string>
			<key>stockValue</key>
			<string>17994</string>
			<key>tradingDate</key>
			<string>1478448000000</string>
			<key>unitValue</key>
			<string>1.0173</string>
			<key>yieldRate</key>
			<string>0.02</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>69208.72</string>
			<key>hs300</key>
			<string>3371.1177</string>
			<key>hs300Rate</key>
			<string>1.0434</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>106617.47</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>35.22</string>
			<key>stockValue</key>
			<string>37624</string>
			<key>tradingDate</key>
			<string>1478534400000</string>
			<key>unitValue</key>
			<string>1.0154</string>
			<key>yieldRate</key>
			<string>0.02</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>85646.07000000001</string>
			<key>hs300</key>
			<string>3353.0547</string>
			<key>hs300Rate</key>
			<string>1.0378</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>107467.57</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>20.47</string>
			<key>stockValue</key>
			<string>22042</string>
			<key>tradingDate</key>
			<string>1478620800000</string>
			<key>unitValue</key>
			<string>1.0235</string>
			<key>yieldRate</key>
			<string>0.02</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>52980.93</string>
			<key>hs300</key>
			<string>3390.6119</string>
			<key>hs300Rate</key>
			<string>1.0494</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>106455.18</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>50.34</string>
			<key>stockValue</key>
			<string>53700</string>
			<key>tradingDate</key>
			<string>1478707200000</string>
			<key>unitValue</key>
			<string>1.0138</string>
			<key>yieldRate</key>
			<string>0.01</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>21884.9</string>
			<key>hs300</key>
			<string>3417.2211</string>
			<key>hs300Rate</key>
			<string>1.0577</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>106738.9</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>79.54000000000001</string>
			<key>stockValue</key>
			<string>85085</string>
			<key>tradingDate</key>
			<string>1478793600000</string>
			<key>unitValue</key>
			<string>1.0165</string>
			<key>yieldRate</key>
			<string>0.02</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>58005.07</string>
			<key>hs300</key>
			<string>3430.2482</string>
			<key>hs300Rate</key>
			<string>1.0617</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104682.32</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>44.72</string>
			<key>stockValue</key>
			<string>46924</string>
			<key>tradingDate</key>
			<string>1479052800000</string>
			<key>unitValue</key>
			<string>0.9969</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>45598.02</string>
			<key>hs300</key>
			<string>3429.8697</string>
			<key>hs300Rate</key>
			<string>1.0616</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104902.02</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>56.64</string>
			<key>stockValue</key>
			<string>59556</string>
			<key>tradingDate</key>
			<string>1479139200000</string>
			<key>unitValue</key>
			<string>0.999</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>39452.9</string>
			<key>hs300</key>
			<string>3429.5921</string>
			<key>hs300Rate</key>
			<string>1.0615</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>105866.65</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>62.82</string>
			<key>stockValue</key>
			<string>66671</string>
			<key>tradingDate</key>
			<string>1479225600000</string>
			<key>unitValue</key>
			<string>1.0082</string>
			<key>yieldRate</key>
			<string>0.01</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>35501.67</string>
			<key>hs300</key>
			<string>3436.535</string>
			<key>hs300Rate</key>
			<string>1.0636</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104979.17</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>66.27</string>
			<key>stockValue</key>
			<string>69740</string>
			<key>tradingDate</key>
			<string>1479312000000</string>
			<key>unitValue</key>
			<string>0.9998</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>43086.12</string>
			<key>hs300</key>
			<string>3417.4554</string>
			<key>hs300Rate</key>
			<string>1.0577</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>103878.37</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>58.63</string>
			<key>stockValue</key>
			<string>61060</string>
			<key>tradingDate</key>
			<string>1479398400000</string>
			<key>unitValue</key>
			<string>0.9893</string>
			<key>yieldRate</key>
			<string>-0.01</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>43281.96</string>
			<key>hs300</key>
			<string>3441.1106</string>
			<key>hs300Rate</key>
			<string>1.0651</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>103365.46</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>58.24</string>
			<key>stockValue</key>
			<string>60367</string>
			<key>tradingDate</key>
			<string>1479657600000</string>
			<key>unitValue</key>
			<string>0.9844000000000001</string>
			<key>yieldRate</key>
			<string>-0.02</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>48904.21</string>
			<key>hs300</key>
			<string>3468.3637</string>
			<key>hs300Rate</key>
			<string>1.0735</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>104881.46</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>53.5</string>
			<key>stockValue</key>
			<string>56266</string>
			<key>tradingDate</key>
			<string>1479744000000</string>
			<key>unitValue</key>
			<string>0.9988</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cashvalue</key>
			<string>57984.93</string>
			<key>hs300</key>
			<string>3474.7289</string>
			<key>hs300Rate</key>
			<string>1.0755</string>
			<key>initUnitValue</key>
			<string>1</string>
			<key>netValue</key>
			<string>105392.93</string>
			<key>productid</key>
			<string>416</string>
			<key>stockPercentage</key>
			<string>45.14</string>
			<key>stockValue</key>
			<string>47702</string>
			<key>tradingDate</key>
			<string>1479830400000</string>
			<key>unitValue</key>
			<string>1.0037</string>
			<key>yieldRate</key>
			<string>0</string>
		</dict>
	</array>
	<key>status</key>
	<string>0</string>
</dict>
</plist>
