<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>hs300</key>
			<string>3282.8681</string>
			<key>hs300Change</key>
			<string>7.06</string>
			<key>hs300Rate</key>
			<string>1.0706</string>
			<key>tradingDate</key>
			<string>1468339200000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3276.7637</string>
			<key>hs300Change</key>
			<string>6.86</string>
			<key>hs300Rate</key>
			<string>1.0686</string>
			<key>tradingDate</key>
			<string>1468425600000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3276.2775</string>
			<key>hs300Change</key>
			<string>6.85</string>
			<key>hs300Rate</key>
			<string>1.0685</string>
			<key>tradingDate</key>
			<string>1468512000000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3262.0222</string>
			<key>hs300Change</key>
			<string>6.38</string>
			<key>hs300Rate</key>
			<string>1.0638</string>
			<key>tradingDate</key>
			<string>1468771200000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3248.2341</string>
			<key>hs300Change</key>
			<string>5.93</string>
			<key>hs300Rate</key>
			<string>1.0593</string>
			<key>tradingDate</key>
			<string>1468857600000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3237.6051</string>
			<key>hs300Change</key>
			<string>5.59</string>
			<key>hs300Rate</key>
			<string>1.0559</string>
			<key>tradingDate</key>
			<string>1468944000000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3252.5227</string>
			<key>hs300Change</key>
			<string>6.07</string>
			<key>hs300Rate</key>
			<string>1.0607</string>
			<key>tradingDate</key>
			<string>1469030400000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3225.1621</string>
			<key>hs300Change</key>
			<string>5.18</string>
			<key>hs300Rate</key>
			<string>1.0518</string>
			<key>tradingDate</key>
			<string>1469116800000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3230.885</string>
			<key>hs300Change</key>
			<string>5.37</string>
			<key>hs300Rate</key>
			<string>1.0537</string>
			<key>tradingDate</key>
			<string>1469376000000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3269.5882</string>
			<key>hs300Change</key>
			<string>6.63</string>
			<key>hs300Rate</key>
			<string>1.0663</string>
			<key>tradingDate</key>
			<string>1469462400000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3218.243</string>
			<key>hs300Change</key>
			<string>4.95</string>
			<key>hs300Rate</key>
			<string>1.0495</string>
			<key>tradingDate</key>
			<string>1469548800000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3221.1365</string>
			<key>hs300Change</key>
			<string>5.05</string>
			<key>hs300Rate</key>
			<string>1.0505</string>
			<key>tradingDate</key>
			<string>1469635200000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3203.9304</string>
			<key>hs300Change</key>
			<string>4.49</string>
			<key>hs300Rate</key>
			<string>1.0449</string>
			<key>tradingDate</key>
			<string>1469721600000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3176.8091</string>
			<key>hs300Change</key>
			<string>3.6</string>
			<key>hs300Rate</key>
			<string>1.036</string>
			<key>tradingDate</key>
			<string>1469980800000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3189.0529</string>
			<key>hs300Change</key>
			<string>4</string>
			<key>hs300Rate</key>
			<string>1.04</string>
			<key>tradingDate</key>
			<string>1470067200000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3193.5073</string>
			<key>hs300Change</key>
			<string>4.15</string>
			<key>hs300Rate</key>
			<string>1.0415</string>
			<key>tradingDate</key>
			<string>1470153600000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3201.2888</string>
			<key>hs300Change</key>
			<string>4.4</string>
			<key>hs300Rate</key>
			<string>1.044</string>
			<key>tradingDate</key>
			<string>1470240000000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3205.1101</string>
			<key>hs300Change</key>
			<string>4.53</string>
			<key>hs300Rate</key>
			<string>1.0453</string>
			<key>tradingDate</key>
			<string>1470326400000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3234.1833</string>
			<key>hs300Change</key>
			<string>5.47</string>
			<key>hs300Rate</key>
			<string>1.0547</string>
			<key>tradingDate</key>
			<string>1470585600000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3256.9813</string>
			<key>hs300Change</key>
			<string>6.22</string>
			<key>hs300Rate</key>
			<string>1.0622</string>
			<key>tradingDate</key>
			<string>1470672000000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3243.3409</string>
			<key>hs300Change</key>
			<string>5.77</string>
			<key>hs300Rate</key>
			<string>1.0577</string>
			<key>tradingDate</key>
			<string>1470758400000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3233.3604</string>
			<key>hs300Change</key>
			<string>5.45</string>
			<key>hs300Rate</key>
			<string>1.0545</string>
			<key>tradingDate</key>
			<string>1470844800000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3294.2337</string>
			<key>hs300Change</key>
			<string>7.43</string>
			<key>hs300Rate</key>
			<string>1.0743</string>
			<key>tradingDate</key>
			<string>1470931200000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3393.4239</string>
			<key>hs300Change</key>
			<string>10.67</string>
			<key>hs300Rate</key>
			<string>1.1067</string>
			<key>tradingDate</key>
			<string>1471190400000</string>
		</dict>
	</array>
	<key>status</key>
	<string>0</string>
</dict>
</plist>
