<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>hs300</key>
			<string>3066.3413</string>
			<key>hs300Change</key>
			<string>0</string>
			<key>hs300Rate</key>
			<string>1</string>
			<key>tradingDate</key>
			<string>1465747200000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3075.9834</string>
			<key>hs300Change</key>
			<string>0.31</string>
			<key>hs300Rate</key>
			<string>1.0031</string>
			<key>tradingDate</key>
			<string>1465833600000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3116.3682</string>
			<key>hs300Change</key>
			<string>1.63</string>
			<key>hs300Rate</key>
			<string>1.0163</string>
			<key>tradingDate</key>
			<string>1465920000000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3094.6748</string>
			<key>hs300Change</key>
			<string>0.92</string>
			<key>hs300Rate</key>
			<string>1.0092</string>
			<key>tradingDate</key>
			<string>1466006400000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3110.3572</string>
			<key>hs300Change</key>
			<string>1.44</string>
			<key>hs300Rate</key>
			<string>1.0144</string>
			<key>tradingDate</key>
			<string>1466092800000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3112.6744</string>
			<key>hs300Change</key>
			<string>1.51</string>
			<key>hs300Rate</key>
			<string>1.0151</string>
			<key>tradingDate</key>
			<string>1466352000000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3106.3175</string>
			<key>hs300Change</key>
			<string>1.3</string>
			<key>hs300Rate</key>
			<string>1.013</string>
			<key>tradingDate</key>
			<string>1466438400000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3133.9611</string>
			<key>hs300Change</key>
			<string>2.21</string>
			<key>hs300Rate</key>
			<string>1.0221</string>
			<key>tradingDate</key>
			<string>1466524800000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3117.3168</string>
			<key>hs300Change</key>
			<string>1.66</string>
			<key>hs300Rate</key>
			<string>1.0166</string>
			<key>tradingDate</key>
			<string>1466611200000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3077.1554</string>
			<key>hs300Change</key>
			<string>0.35</string>
			<key>hs300Rate</key>
			<string>1.0035</string>
			<key>tradingDate</key>
			<string>1466697600000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3120.5443</string>
			<key>hs300Change</key>
			<string>1.77</string>
			<key>hs300Rate</key>
			<string>1.0177</string>
			<key>tradingDate</key>
			<string>1466956800000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3136.4013</string>
			<key>hs300Change</key>
			<string>2.28</string>
			<key>hs300Rate</key>
			<string>1.0228</string>
			<key>tradingDate</key>
			<string>1467043200000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3151.3898</string>
			<key>hs300Change</key>
			<string>2.77</string>
			<key>hs300Rate</key>
			<string>1.0277</string>
			<key>tradingDate</key>
			<string>1467129600000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3153.921</string>
			<key>hs300Change</key>
			<string>2.86</string>
			<key>hs300Rate</key>
			<string>1.0286</string>
			<key>tradingDate</key>
			<string>1467216000000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3154.2003</string>
			<key>hs300Change</key>
			<string>2.87</string>
			<key>hs300Rate</key>
			<string>1.0287</string>
			<key>tradingDate</key>
			<string>1467302400000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3204.6962</string>
			<key>hs300Change</key>
			<string>4.51</string>
			<key>hs300Rate</key>
			<string>1.0451</string>
			<key>tradingDate</key>
			<string>1467561600000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3207.3827</string>
			<key>hs300Change</key>
			<string>4.6</string>
			<key>hs300Rate</key>
			<string>1.046</string>
			<key>tradingDate</key>
			<string>1467648000000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3216.8035</string>
			<key>hs300Change</key>
			<string>4.91</string>
			<key>hs300Rate</key>
			<string>1.0491</string>
			<key>tradingDate</key>
			<string>1467734400000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3209.9542</string>
			<key>hs300Change</key>
			<string>4.68</string>
			<key>hs300Rate</key>
			<string>1.0468</string>
			<key>tradingDate</key>
			<string>1467820800000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3192.2804</string>
			<key>hs300Change</key>
			<string>4.11</string>
			<key>hs300Rate</key>
			<string>1.0411</string>
			<key>tradingDate</key>
			<string>1467907200000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3203.3298</string>
			<key>hs300Change</key>
			<string>4.47</string>
			<key>hs300Rate</key>
			<string>1.0447</string>
			<key>tradingDate</key>
			<string>1468166400000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3273.1823</string>
			<key>hs300Change</key>
			<string>6.75</string>
			<key>hs300Rate</key>
			<string>1.0675</string>
			<key>tradingDate</key>
			<string>1468252800000</string>
		</dict>
		<dict>
			<key>hs300</key>
			<string>3282.8681</string>
			<key>hs300Change</key>
			<string>7.06</string>
			<key>hs300Rate</key>
			<string>1.0706</string>
			<key>tradingDate</key>
			<string>1468339200000</string>
		</dict>
	</array>
	<key>status</key>
	<string>0</string>
</dict>
</plist>
